app = "protocolgen"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  DATABASE_PATH = "/data/protocolgen.db?_foreign_keys=on"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

[mounts]
  source = "protocolgen_data"
  destination = "/data"
